<#@ template language="C#" inherits="CodeTemplate" visibility="internal" #>
<#@ assembly name="System.Core" #>
<# if (this.Condition is not null)
{#>
    builder.AddEdge(<#= this.SourceId #>, <#= this.TargetId #>, (object? result) => <#= this.Condition #>);<#
}
else
{#>
    builder.AddEdge(<#= this.SourceId #>, <#= this.TargetId #>);<#
} #>
