APPLICATIONINSIGHTS_CONNECTION_STRING="..."
OTLP_ENDPOINT="http://localhost:4317/"
ENABLE_SENSITIVE_DATA=true
# This is not required if you run `setup_observability()` in your code
ENABLE_OTEL=true

# OpenAI specific variables
OPENAI_API_KEY="..."
OPENAI_RESPONSES_MODEL_ID="gpt-4o-2024-08-06"
OPENAI_CHAT_MODEL_ID="gpt-4o-2024-08-06"

# Foundry specific variables
AZURE_AI_PROJECT_ENDPOINT="..."
AZURE_AI_MODEL_DEPLOYMENT_NAME="gpt-4o-mini"